@import "variables.scss";
#product_form{
	display:table;
	width:100%;
	max-width:980px;
	margin:0px auto;
	padding-top:20px;
}
@media(min-width:875px){
	#product_form > div{
		padding:0px 40px;
	}
}
@media(max-width:875px) and (min-width:680px){
	#product_form > div{
		padding:0px 20px;
	}
}
@media(max-width:680px){
	#product_form > div{
		width: 100%;
	}
	.form-control{
		margin-bottom:15px;
	}
}
@media(min-width:680px){
	#product_form{
		> .left{
			width:45%;	
		}
		> .right{
			width:55%;
		}
	}
	.form-control{
		margin-bottom:30px;
	}
}
#product_form{
	> div{
		display:inline-block;
		vertical-align: top;
	}
	> .right{
		> div{
			-webkit-box-shadow: 0px 0px 15px 0px rgb(0 0 0 / 33%);
			box-shadow: 0px 0px 15px 0px rgb(0 0 0 / 33%);
			border-radius: 4px;
			padding: 20px;
			margin-top: 21px;
		}
	}
}
.form-control{
	position: relative;
	label{
		display:table;
		@include main-font-style;
		color:#000;
		margin-bottom:5px;
	}
	input, select{
		display: table;
		height:43px;
		line-height:41px;
		border-radius:4px;
		border:1px solid #000;
		padding:0px;
		text-indent:20px;
		width:100%;
		color:#000;
		font-family:$main-font;
		font-weight: 400;
		background:transparent;
		position:relative;
		z-index:10;
		&::placeholder{
			color:#939393;
			font-family:$main-font;
			font-weight: 400;
			transition:opacity 0.5s ease;
			-webkit-transition:opacity 0.5s ease;
		}
	}
	.error_label{
		position: absolute;
		margin-top: 11px;
		right: 20px;
		color: $main-color;
		transition:opacity 0.5s ease;
		-webkit-transition:opacity 0.5s ease;
		~ input::placeholder{
			opacity:0;
		}
	}
}