@import "variables.scss";
.prodList{
	width:calc(100% + 40px);
	margin:0px auto;
	position:relative;
	left:50%;
	transform:translate(-50%,0%);
	-webkit-transform:translate(-50%,0%);
}
@media(min-width:1250px){
	.prodList{
		grid-template-columns: repeat(4, 1fr);
	}
}
@media(max-width:1250px){
	.prodList .prodCont span{
		font-size:14px;
	}
}
@media(max-width:1250px) and (min-width:860px){
	.prodList{
		grid-template-columns: repeat(3, 1fr);
	}
}
@media(max-width:860px) and (min-width:570px){
	.prodList{
		grid-template-columns: repeat(2, 1fr);
	}
}
@media(max-width:570px){
	.prodList{
		grid-template-columns:100%;
	}
}
.prodList{
	display:grid;
	grid-gap:40px;
	.prodWrapper{
		position:relative;
		border:1px solid $main-color;
		border-radius:4px;
		width:100%;
		padding:20px;
		text-align: center;
		@include center-parent;
		height: 0;
		padding-bottom: 50%;
		padding-top: 50%;
		.checkWrapper{
			position:absolute;
			top:20px;
			left:20px;
			font-size:0px;
			input{
				@include main-button;
				width:30px;
				height:30px;
				-webkit-appearance: none;
				appearance: none;
				background-color:transparent;
				position:relative;
				z-index:5;
				margin:0px;
				&:checked ~ svg{
					opacity:1;
				}
			}
			svg{
				position:absolute;
				left:0px;
				top:0px;
				width:100%;
				height:100%;
				text-align:center;
				color:$main-color;
				font-size:16px;
				opacity:0;
				transition: opacity 0.5s ease;
				-webkit-transition: opacity 0.5s ease; 
			}
			span{
				display:table;
				margin:0px auto;
				text-align:center;
			}
		}
		.name{
			font-family: $main-font;
			color:#000;
			text-align:center;
			font-weight:400;
			margin:0px auto;
			font-size:16px;
			line-height:initial;
		}
	}
}