.prodList {
  width: calc(100% + 40px);
  margin: 0px auto;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0%);
  -webkit-transform: translate(-50%, 0%);
}

@media (min-width: 1250px) {
  .prodList {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 1250px) {
  .prodList .prodCont span {
    font-size: 14px;
  }
}

@media (max-width: 1250px) and (min-width: 860px) {
  .prodList {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 860px) and (min-width: 570px) {
  .prodList {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 570px) {
  .prodList {
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
  }
}

.prodList {
  display: -ms-grid;
  display: grid;
  grid-gap: 40px;
}

.prodList .prodWrapper {
  position: relative;
  border: 1px solid #de4848;
  border-radius: 4px;
  width: 100%;
  padding: 20px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 0;
  padding-bottom: 50%;
  padding-top: 50%;
}

.prodList .prodWrapper .checkWrapper {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 0px;
}

.prodList .prodWrapper .checkWrapper input {
  font-weight: 300;
  color: #de4848;
  padding: 0px 14px;
  border: 1px solid #de4848;
  background-color: #de4848;
  color: #fff;
  height: 43px;
  line-height: 41px;
  border-radius: 4px;
  font-size: 12px;
  transition: color,background-color 0.5s ease;
  -webkit-transition: color,background-color 0.5s ease;
  cursor: pointer;
  width: 30px;
  height: 30px;
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  background-color: transparent;
  position: relative;
  z-index: 5;
  margin: 0px;
}

.prodList .prodWrapper .checkWrapper input:checked ~ svg {
  opacity: 1;
}

.prodList .prodWrapper .checkWrapper svg {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  text-align: center;
  color: #de4848;
  font-size: 16px;
  opacity: 0;
  transition: opacity 0.5s ease;
  -webkit-transition: opacity 0.5s ease;
}

.prodList .prodWrapper .checkWrapper span {
  display: table;
  margin: 0px auto;
  text-align: center;
}

.prodList .prodWrapper .name {
  font-family: "Nunito", sans-serif;
  color: #000;
  text-align: center;
  font-weight: 400;
  margin: 0px auto;
  font-size: 16px;
  line-height: initial;
}
/*# sourceMappingURL=home.css.map */