@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 40px auto;
  width: 75%;
  font-family: "Nunito", sans-serif;
}

@media (min-width: 1670px) {
  body {
    width: 75%;
  }
}

@media (max-width: 1670px) {
  body {
    width: 90%;
  }
}

header {
  display: table;
  width: 100%;
  margin: 0px auto 20px auto;
  padding-bottom: 20px;
  border-bottom: 1px solid #de4848;
}

header h1 {
  margin: 18px 0px 0px 0px;
  float: left;
  font-weight: 300;
  color: #de4848;
  line-height: 27px;
  font-size: 36px;
}

header .right > * {
  font-weight: 300;
  color: #de4848;
  padding: 0px 14px;
  border: 1px solid #de4848;
  background-color: #de4848;
  color: #fff;
  height: 43px;
  line-height: 41px;
  border-radius: 4px;
  font-size: 12px;
  transition: color,background-color 0.5s ease;
  -webkit-transition: color,background-color 0.5s ease;
  cursor: pointer;
  vertical-align: top;
  display: inline-block;
  margin-left: 30px;
  text-decoration: none;
}

header .right > *:hover {
  background-color: #fff;
  color: #de4848;
}

@media (max-width: 700px) {
  header h1 {
    float: none;
    display: table;
    margin: 0px auto 20px auto;
  }
  header .right {
    float: none;
    display: table;
    margin: 0px auto;
  }
}

@media (min-width: 700px) {
  header h1 {
    margin: 18px 0px 0px 0px;
    float: left;
  }
  header .right {
    float: right;
  }
}

.content {
  display: table;
  width: 100%;
}

.copyright {
  display: table;
  margin: 30px auto 0px auto;
}
/*# sourceMappingURL=index.css.map */