$main-color: #de4848;
$main-font: 'Nunito', sans-serif;
@mixin main-font-style() {
	font-weight: 300;
	color: $main-color;
}
@mixin main-button(){
	@include main-font-style;
	padding:0px 14px;
	border:1px solid $main-color;
	background-color: $main-color;
	color:#fff;
	height:43px;
	line-height:41px;
	border-radius:4px;
	font-size:12px;
	transition: color,background-color 0.5s ease;
	-webkit-transition: color,background-color 0.5s ease;
	cursor:pointer;
}
@mixin main-button-hover(){
	background-color:#fff;
	color:$main-color;
}
@mixin center-parent(){
	display: flex;
    align-items: center;
    justify-content: center;
}